<div class="gmail_signature" data-smartmail="gmail_signature">
    <div dir="ltr">
        <table width="600" height="250" border="0" cellpadding="0" cellspacing="0" style="color:rgb(0,0,0); font-family: 'Libre Franklin', sans-serif;font-size:medium">
        <tbody>
        <tr>
            <td colspan="2">
                <p style="margin:0px;color:rgb(85,85,85);padding-left:20px">
                    Pozdrowienia / Best regards
                </p>
                <p style="margin:0px;color:rgb(85,85,85)">
                    <img src="http://podpis.uirapuru.pl/img/border_mail.jpg" alt="" width="600">
                </p>
            </td>
        </tr>
        <tr>
            <td width="" align="center">
                <img src="http://podpis.uirapuru.pl/img/{{ img }}" style="width: 100%; max-width: 160px">
            </td>
            <td width="350" style="padding-left:20px">
                <p style="margin:0px;color:rgb(43,47,55);font-size:28px">
                    {{ name }}
                </p>

                <p style="margin:0px;color:rgb(43,47,55)">{{ position }}</p>

                <p style="margin:0px;color:rgb(85,85,85);padding:2px 0px">
                    <a href="mailto:{{ email }}" style="color:rgb(85,85,85)" target="_blank">
                        <span style="color:rgb(43,47,55)">E-mail: </span>{{ email }}
                    </a>
                </p>

                <p style="margin:0px;color:rgb(85,85,85);padding:2px 0px">
                    <span style="color:rgb(43,47,55)">Mobile: </span>
                    <a href="tel:{{ mobile }}" value="{{ mobile }}" style="color:rgb(17,85,204)" target="_blank">{{ mobile }}</a>
                </p>

                <p style="margin:0px;color:rgb(85,85,85);padding:2px 0px">
                    <a href="{{ www }}" style="color:rgb(85,85,85)" target="_blank"><span style="color:rgb(43,47,55)">WWW: </span>{{ www }}</a>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>